@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb { background-color: #1BA9C0; border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }

::selection {
	background: #056473;
	color:white;
}

body { margin: 0; padding: 0; font-family: 'Lato', sans-serif; -webkit-user-select: none; cursor: default; }
input,
textarea,
.article_content { -webkit-user-select: text; cursor: text; }
label,
div.form_label,
div.dialog_title,
button { -webkit-user-select: none; -moz-user-select: none; cursor: default; }
ul { margin: 0; padding: 0; }

div.bloc_content { clear:both; width: 100%; }

#main {	width: 100%; height: 100%; overflow: hidden; background-color: #EFEFEF; }
#logos {  padding-left: 47px; height: 51px; display: block; position: absolute; bottom: 20px; left: 20px; background: url(../images/logo.png) no-repeat left center; z-index: 9; color: #333; }
#logos span { display: block; font-size: .7em; text-align: right; }
#header { width: 100%; height: 35px; border-bottom: 1px solid #DEDEDE; background-color: #333; position: absolute; box-shadow: 0 0px 8px #333; z-index: 10; }
#portail,
#menu,
#user { margin: 0; padding: 0; height: 100%; position: absolute; top: 0; }

#body { position: absolute; top: 35px; z-index: 9; overflow: hidden; }
#reference { width: 20%; height: 100%; border-right: 1px solid #DEDEDE; display: none; z-index: 8; position: absolute; box-shadow: 3px 0 5px #AAA; background-color: #FFF;  }
#content { width: 100%; ; height: 100%; overflow-y: auto; overflow-x: hidden; position: absolute; right: 0; z-index: 7; }
#recherche { border-bottom: 1px solid #DEDEDE; margin: 5px; }
#recherche .searchInput { margin-bottom: 5px; }
#recherche .searchInput input { width: 100%; }
#recherche .searchResults { }
#recherche .searchResults ul { }
#recherche .searchResults ul li { border-radius: 5px; border: 1px solid #FFF; }
#recherche .searchResults ul li.result_null { color: #CCC; text-align: center; }
#recherche .searchResults ul li.result_article { color: #333; padding: 1px 0 1px 5px; cursor: pointer; }
#recherche .searchResults ul li.result_article:hover { background-color: #EDEDED; border: 1px solid #DFDFDF; }

#navigation { margin: 5px; overflow: auto; }
#navigation ul.navigation_content { }
#navigation ul.navigation_content li { margin-left: 5px; list-style: none; padding: 0; margin: 0; }
#navigation ul.navigation_content li.categorie_title { cursor: pointer; padding: 2px 0 2px 20px; }
#navigation ul.navigation_content li.categorie_title.off { background: url(../images/btn_expand.png) 2px 3px no-repeat; }
#navigation ul.navigation_content li.categorie_title.on { background: url(../images/btn_collapse.png) 2px 3px no-repeat; }
#navigation ul.navigation_content li.categorie_title span { color: #333; letter-spacing: 1px; text-transform: capitalize; }
#navigation ul.navigation_content li ul.categorie_articles { display: none; }
#navigation ul.navigation_content li ul.categorie_articles li { margin-left: 5px; list-style: none; padding: 0; margin: 0; cursor: pointer; padding: 1px 0 1px 5px; border-radius: 5px; border: 1px solid #FFF; }
#navigation ul.navigation_content li ul.categorie_articles li:hover { background: #1BA9C0; color: #000; font-weight: bold; border: 1px solid #DFDFDF; }

#informations { margin: 5px; min-height: 30px; padding: 5px; width: 98%; }
#accessibility { width: 150px; position: absolute; right: 13px; top: 13px; text-align: right; }
#accessibility li { list-style-type: none; display: inline-block; width: 20px; height: 20px; cursor: pointer; border-radius: 5px; margin: 1px; border: 1px solid rgba(0,0,0,0); }
#accessibility li.smallFont { background: url(../images/font_small.png) no-repeat center center; }
#accessibility li.smallFont:hover { background: #F5F5F5 url(../images/font_small.png) no-repeat center; border: 1px solid #DDD; }
#accessibility li.mediumFont { background: url(../images/font_medium.png) no-repeat center center; }
#accessibility li.mediumFont:hover { background: #F5F5F5 url(../images/font_medium.png) no-repeat center center; border: 1px solid #DDD; }
#accessibility li.largeFont { background: url(../images/font_large.png) no-repeat center center;  }
#accessibility li.largeFont:hover { background: #F5F5F5 url(../images/font_large.png) no-repeat center center; border: 1px solid #DDD; }
#article { margin: 5px; overflow: hidden; }
#article .article_header { box-shadow: 0 0 20px rgba(0,0,0,.1); background: rgb(239,239,239); background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(216,216,216,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(216,216,216,1))); background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(216,216,216,1) 100%); background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(216,216,216,1) 100%); background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(216,216,216,1) 100%); background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(216,216,216,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d8d8d8',GradientType=0 ); }
#article .article_header .article_title { padding: 5px 5px 5px 5px; font-size: 1.3em; font-weight: bold; }
#article .article_header .article_infos { padding: 0 5px 5px 5px; font-style: italic; }
#article .article_header .article_infos .article_author,
#article .article_header .article_infos .article_type,
#article .article_header .article_infos .article_date { font-size: .9em; color: #333; }
#article .article_header .article_listMotCles .motcle { font-size: .8em; margin: 0 5px 0 0; cursor: pointer; /*color: #61BFFF;*/ color: #CA3179; }
#article .article_header .article_listMotCles .motcle:hover { color: #8F144E; text-decoration: underline; }
#article .article_header .article_listMotCles { padding: 0 5px 5px 5px; border-bottom: 1px solid #333; color:#ccc; }
#article .article_content { font-size: .9em; color: #333; padding: 15px; overflow-y: auto; text-align: justify; }
#article .article_content section { padding: 5px 15px 15px 15px; background-color: #DDD; margin-bottom: 20px; }
#article .article_content section:before { content: "syntaxe"; display: block; font-size: 11px; color: #056473; padding-bottom: 10px; }
#article .article_content code { font-family: 'Cutive Mono', serif; }
#article .article_content aside { margin-bottom: 20px; background-color: #FAFAFA; border: 1px dotted #ECC; display: block; font-weight: bold; font-size: .8em; padding: 5px 15px 15px 15px; }
#article .article_content aside:before { content: "resumé"; padding-bottom: 10px; display: block; font-size: 11px; color: #056473; font-weight: normal; }
#article .article_content article { margin: 50px 0 50px 0; display: block; padding: 5px 0 15px 15px; border: 1px dotted #DEDEDE; }
#article .article_content article:before { content: "article"; padding-bottom: 10px; display: block; font-size: 11px; color: #056473; font-weight: normal; }
#article .article_content nav { margin: 5px 0 20px 0; display: block; padding: 5px 0 15px 15px; border-top: 1px solid #CCC; }
#article .article_content nav:before { content: "associations"; padding-bottom: 10px; display: block; font-size: 11px; color: #056473; font-weight: normal; }

#article .article_title_edit { width: 400px; }

#article .admin_title { font-size: 1.7em; padding-left: 10%; }
#article .admin_content { font-size: 2em; }
#article .admin_content table { border-collapse: collapse; margin: 15px 10% 0 10%; width: 80%; border: 1px solid #DDD; }
#article .admin_content table th,
#article .admin_content table td { text-align: left; padding-left: 15px; cursor: default; height: 35px; }
#article .admin_content table th { background-color: #1BA9C0; color: #333; }
#article .admin_content table td { color: #333; }
#article .admin_content table th.action,
#article .admin_content table td.action { width: 80px; padding: 0!important; min-width: 80px; }
#article .admin_content table td.action { text-align: right; }
#article .admin_content table tbody tr:nth-child(even) { background-color: #FFF; }
#article .admin_content table tbody tr:nth-child(odd) { background-color: #EFEFEF; }
#article .admin_content table tbody tr:nth-child(odd):hover { background-color: #DEDEDE; }
#article .admin_content table tbody tr:nth-child(even):hover { background-color: #E5E5E5; }
#article .admin_content table tbody td.action a { width: 35px; height: 35px; display: inline-block; margin: 1px; cursor: pointer; }
#article .admin_content table tbody td.action a.btn_edit { background: #333 url(../images/edit_btn.png) no-repeat center center; }
#article .admin_content table tbody td.action a.btn_edit:hover { background: #333 url(../images/edit_btn_hover.png) no-repeat center center; }
#article .admin_content table tbody td.action a.btn_del { background: #333 url(../images/del_btn.png) no-repeat center center; }
#article .admin_content table tbody td.action a.btn_del:hover { background: #333 url(../images/del_btn_hover.png) no-repeat center center; }


#portail { width: 250px; cursor: default; left: 0; }
#portail div.cache,
#portail .menu_portail { display: none; }
#portail div.bloc_content { color: #EFEFEF; }
#portail div.bloc_content div.portail_action_select { width: 100%; text-align: center; }
#portail div.bloc_content div.portail_action_select .portail_infos { padding: 10px; text-transform: uppercase; font-size: .8em; }
#portail div.bloc_content div.portail_action_select .portail_menu { }
#portail .menu_portail li { list-style: none; font-size: .8em; text-align: left; padding: 5px 0 5px 25px;  }
#portail .menu_portail li:last-child { padding-bottom: 15px; }
#portail .menu_portail li:hover { cursor: pointer;background-color: #1BA9C0; color: #000; font-weight: bold; }
#portail div.bloc_content:hover { background-color: #222; color: #F5F5F5; }
#portail div.bloc_content:hover .menu_portail { display: block; box-shadow: 0 2px 8px #333; position: relative; max-height: 400px; overflow: auto; }

#menu { width: 300px; left: 303px; padding-left: 15px; }
#menu ul { }
#menu ul li { list-style-type: none; float: left; margin: 0 5px 0 0; }
#menu .bouton { /*width: 48px; height: 48px;*/ cursor: pointer; display: inline-block; position: relative; /*top: 11px;*/ width: 35px; height: 35px; /*border-radius: 200px; background-color: #FF7F00; box-shadow: 0 0 0px 2px #FF7F00 inset,0 0 0px 4px #333 inset, 0 0 5px #000;*/ }
#menu .bouton:hover { cursor: pointer; display: inline-block; /*top: 10px;*/ }

#menu .bouton.retour { background: url(../images/home_btn.png) no-repeat center center; }
#menu .bouton.retour:hover { background: url(../images/home_btn_hover.png) no-repeat center center; }

#menu .bouton.add_article { background: url(../images/add_btn.png) no-repeat center center; }
#menu .bouton.add_article:hover { background: url(../images/add_btn_hover.png) no-repeat center center; }

#menu .bouton.admin_portail { background: url(../images/admin_portail_btn.png) no-repeat center center; }
#menu .bouton.admin_portail:hover { background: url(../images/admin_portail_btn_hover.png) no-repeat center center; }
#menu .bouton.add_portail { background: url(../images/add_portail_btn.png) no-repeat center center; }
#menu .bouton.add_portail:hover { background: url(../images/add_portail_btn_hover.png) no-repeat center center; }
#menu .bouton.del_portail { background: url(../images/del_portail_btn.png) no-repeat center center; }
#menu .bouton.del_portail:hover { background: url(../images/del_portail_btn_hover.png) no-repeat center center; }
#menu .bouton.edit_portail { background: url(../images/edit_portail_btn.png) no-repeat center center; }
#menu .bouton.edit_portail:hover { background: url(../images/edit_portail_btn_hover.png) no-repeat center center; }

#menu .bouton.admin_categorie { background: url(../images/admin_categorie_btn.png) no-repeat center center; }
#menu .bouton.admin_categorie:hover { background: url(../images/admin_categorie_btn_hover.png) no-repeat center center; }
#menu .bouton.add_categorie { background: url(../images/add_categorie_btn.png) no-repeat center center; }
#menu .bouton.add_categorie:hover { background: url(../images/add_categorie_btn_hover.png) no-repeat center center; }
#menu .bouton.del_categorie { background: url(../images/del_categorie_btn.png) no-repeat center center; }
#menu .bouton.del_categorie:hover { background: url(../images/del_categorie_btn_hover.png) no-repeat center center; }
#menu .bouton.edit_categorie { background: url(../images/edit_categorie_btn.png) no-repeat center center; }
#menu .bouton.edit_categorie:hover { background: url(../images/edit_categorie_btn_hover.png) no-repeat center center; }

#menu .bouton.admin_user { background: url(../images/admin_user_btn.png) no-repeat center center; }
#menu .bouton.admin_user:hover { background: url(../images/admin_user_btn_hover.png) no-repeat center center; }
#menu .bouton.add_user { background: url(../images/add_user_btn.png) no-repeat center center; }
#menu .bouton.add_user:hover { background: url(../images/add_user_btn_hover.png) no-repeat center center; }
#menu .bouton.del_user { background: url(../images/del_user_btn.png) no-repeat center center; }
#menu .bouton.del_user:hover { background: url(../images/del_user_btn_hover.png) no-repeat center center; }
#menu .bouton.edit_user { background: url(../images/edit_user_btn.png) no-repeat center center; }
#menu .bouton.edit_user:hover { background: url(../images/edit_user_btn_hover.png) no-repeat center center; }

#user { width: 200px; text-align: center; cursor: default; right: 0; }
#user div.bloc_content { color: #EFEFEF; }
#user div.user_infos,
#user div.user_role { text-align: left; padding-left: 10px; }
#user div.bloc_content div.user_action_select { width: 100%; text-align: center; }
#user div.action_user_connexion { text-transform: uppercase; font-size: .8em; padding: 9px; cursor: pointer; }
#user div.user_infos { text-transform: uppercase; font-size: .9em; text-decoration: underline;  font-weight: bold; }
#user div.user_role { font-size: .9em; font-style: italic; }
#user div.cache,
#user .menu_user { display: none; border-top: 1px solid #393939; }
#user .menu_user li { list-style: none; font-size: .8em; text-align: left; padding: 5px 0 5px 10px;  }
#user .menu_user li:last-child { padding-bottom: 15px; }
#user .menu_user li:hover { cursor: pointer; background-color: #1BA9C0; font-weight: bold; color: #000; }
#user div.bloc_content:hover { background-color: #222; color: #F5F5F5; }
#user div.bloc_content:hover .menu_user { display: block; box-shadow: 0 2px 8px #333; position: relative; }
#user div.bloc_content div.user_infos .user_marker { display: block; border-radius: 200px; background-color: #FF7F00; position: absolute; width: 24px; height: 20px; right: -12px; top: 7px; box-shadow: 0 0 0px 2px #FF7F00 inset,0 0 0px 4px #333 inset, 0 0 5px #000; }


/** 
 * CSS Boites de Dialogue
 */
#dialogCache { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333; opacity: 0; display: none; z-index: 10000; }
.dialog { position: absolute; background-color: #fff; border-radius: 5px; border: 3px solid #0987A0; z-index: 10001; box-shadow: rgba(30, 30, 30, .8) 0 5px 12px; display: none; color: #333;}
.dialog .dialog_closebtn { float: right; background: #333 url("../images/del_btn.png") no-repeat 0 top; background-size: cover; width: 30px; height: 30px; cursor: pointer; }
.dialog .dialog_title { color: #333; font-size: 1.5em; margin-bottom: 15px; padding: 0 15px 0 5px; background-color: #1BA9C0; border-bottom: 1px solid #0987A0; }
.dialog .dialog_content { width: 100%; font-size: .9em; }
.dialog_error { width: 100%; font-size: .9em; color: #D51816!important; padding: 0 15px 0 15px; display: none;  }

.dialog.dialog_undefined,
.dialog.dialogUserConnexion { width: 350px; }
.dialog.dialog_undefined .dialog_title,
.dialog.dialogUserConnexion .dialog_title { width: 320px; padding: 5px 15px 5px 15px; }
.dialog.dialogUserConnexion .form_line { width: 320px; padding: 0 15px 0 15px; }

.dialog.dialog_undefined .form_line { width: 320px; padding: 0 15px 0 15px; margin-bottom: 15px; }

/**
 * CSS Formulaires
 */
.form_line { width: 100%; clear: both; }
.form_line .form_label { display: inline-block; width: 35%; padding-top: 4px; vertical-align: top; }
.form_line .form_label:after { content: " : "; }
.form_line .form_input { display: inline-block; width: 65%; }
.form_line .form_input input,
.form_line .form_input textarea { width: 95%; margin-left: 0; }
.form_line .form_input select { margin-left: 0; }
.form_line .form_input input[maxlength],
.form_line .form_input select[maxlength] { width: auto; max-width: 95%; }
.form_line.last { margin-bottom: 15px; }
.form_valid_single { width: 100%; clear: both; text-align: center; padding: 8px 0 7px 0; border-top: 1px solid #1BA9C0; /*background-color: #efefef; border-radius: 0 0 15px 15px;*/ }


.return_btn { background: url(../images/ptr_left.png) no-repeat 3px 8px; min-height: 11px; min-width: 12px; padding-left: 16px; }
.return_btn:hover { background: #F8F8F8 url(../images/ptr_left.png) no-repeat 3px 8px; background: url(../images/ptr_left.png) no-repeat 3px 8px -webkit-linear-gradient(top , #F8F8F8, #F1F1F1); background: url(../images/ptr_left.png) no-repeat 3px 8px -moz-linear-gradient(top , #F8F8F8, #F1F1F1); background: url(../images/ptr_left.png) no-repeat 3px 8px -ms-linear-gradient(top , #F8F8F8, #F1F1F1); background: url(../images/ptr_left.png) no-repeat 3px 8px -o-linear-gradient(top , #F8F8F8, #F1F1F1); background: url(../images/ptr_left.png) no-repeat 3px 8px linear-gradient(top , #F8F8F8, #F1F1F1); }

/**
 * CSS popin
 */
/*.popin { background: #1BA9C0; color: #fff; position: fixed; z-index: 10001; top: 20%; min-width: 500px; box-shadow: 0 0 8px 3px #333; }
.popin .popin_header { padding: 5px 45px 5px 45px; height: 30px; background: url(../images/edit_btn_hover.png) no-repeat 3px 2px; font-size: 1.05em; text-transform: uppercase; border-bottom: 1px solid #eee; }
.popin .popin_header.portail { background: url(../images/admin_portail_btn_hover.png) no-repeat 3px 2px; }
.popin .popin_header.categorie { background: url(../images/admin_categorie_btn_hover.png) no-repeat 3px 2px; }
.popin .popin_closebtn { height: 35px; width: 35px; background: url(../images/del_btn_hover.png) no-repeat; position: absolute; top: 2px; right: 3px; cursor: pointer; }
.popin .popin_body { padding: 20px 5px 40px 5px; background: #2CBAD1; }
.popin .popin_footer { border-top: 1px solid #eee; background: #0A98B0; padding: 10px 5px 10px 5px; text-align: center; }
.popin .popin_footer button:last-child { margin-right: 0; }*/

.popin { background: #FFF; color: #1BA9C0; position: fixed; z-index: 10001; top: 20%; min-width: 500px; box-shadow: 0 0 8px 3px #333; padding: 0 15px 15px 15px; }
.popin.fixed { box-shadow: 0 0 8px 3px #AAA; }
.popin .popin_header { padding: 9px 45px 0 45px; height: 30px; background: url(../images/edit_btn.png) no-repeat 3px 2px; font-size: 1.1em; text-transform: uppercase; /*border-bottom: 1px solid #1BA9C0;*/ font-weight: bold; color: #777; }
.popin .popin_header.portail { background: url(../images/admin_portail_btn.png) no-repeat 3px 2px; }
.popin .popin_header.categorie { background: url(../images/admin_categorie_btn.png) no-repeat 3px 2px; }
.popin .popin_header.user { background: url(../images/admin_user_btn.png) no-repeat 3px 2px; }
.popin .popin_closebtn { height: 35px; width: 35px; background: url(../images/del_btn.png) no-repeat; position: absolute; top: 2px; right: 3px; cursor: pointer; }
.popin .popin_body { padding: 20px 5px 20px 5px; /*background: #2CBAD1;*/ }
.popin .popin_footer { border-top: 1px solid #1BA9C0; /*background: #0A98B0;*/ padding: 10px 5px 10px 5px; text-align: center; }
.popin .popin_footer button:last-child { margin-right: 0; }

#article .article_content .highlight { /*background-color: #FFFF88;*/ border-bottom: 1px dotted #CA3179; position: relative; cursor: pointer; }
#article .article_content .highlight .hl_tooltip { display: none; cursor: default; min-width: 200px; width: 400px; font-family: Lato, sans-serif; }
#article .article_content .highlight:hover .hl_tooltip { display: block; background: #fff; color: #000; position: absolute; top: 15px; left: 5px; z-index: 10; padding: 15px; box-shadow: 0 0 8px #333; }
#article .article_content .highlight:hover .hl_tooltip h4 { margin: 0 0 5px 0; }
#article .article_content .highlight:hover .hl_tooltip code { padding: 5px 0 5px 15px; display: block; white-space: nowrap; background-color: #EFEFEF; font-family: 'Cutive Mono', serif; }
#article .article_content .highlight:hover .hl_tooltip aside { display: block; margin: 5px 0 5px 0; border: 0; background-color: #FAFAFA; font-weight: bold; font-size: 12px; }
#article .article_content .hl_tooltip aside:before { content: ""; padding: 0; }
#article .article_content .highlight:hover .hl_tooltip span { text-decoration: none; color: #1BA9C0; cursor: pointer; margin-top: 10px; padding-top: 5px; display: block; text-align: right; border-top: 1px solid #EFEFEF }
#article .article_content .highlight:hover .hl_tooltip span:hover { text-decoration: underline; }

/*#article .article_content .hl_tooltip section { padding: 5px 15px 15px 15px; background-color: #DDD; margin-bottom: 20px; }
#article .article_content .hl_tooltip section:before { content: "syntaxe"; display: block; font-size: 11px; color: #056473; padding-bottom: 10px; }*/



.redactor_toolbar li a.redactor_btn_button_template { background: url(../images/btn_redactor_toolbar_template.png) no-repeat; }
.redactor_toolbar li a.redactor_btn_button_syntaxe { background: url(../images/btn_redactor_toolbar_syntaxe.png) no-repeat; }
.redactor_toolbar li a.redactor_btn_button_resume { background: url(../images/btn_redactor_toolbar_resume.png) no-repeat; }
.redactor_toolbar li a.redactor_btn_button_article { background: url(../images/btn_redactor_toolbar_article.png) no-repeat; }
.redactor_toolbar li a.redactor_btn_button_navigation { background: url(../images/btn_redactor_toolbar_linked.png) no-repeat; }


button.btn_pdf { background: #fff url("../images/bg_btn_pdf.png") no-repeat left center; border: 1px solid #D51816; /*box-shadow: inset 0 0 0 1px #D51816, inset 0 0 0 2px #fff, 0 0 0 1px #D51816;*/ padding-left: 30px; }
button.btn_pdf:hover { background: #fff url("../images/bg_btn_pdf.png") no-repeat left center; border: 1px solid #333; /*box-shadow: inset 0 0 0 1px #A01816, inset 0 0 0 2px #fff,  0 0 0 1px #A01816;*/ padding-left: 30px; }

#article .connectBloc { position: absolute; width: 30%; padding: 0 15% 0 15%; }
#article .connectBloc.left { left: 0; background: url(../images/logo_large.png) no-repeat center center; background-size: 50%; }
#article .connectBloc.right { right: 0; }
#article .connectBloc.right .form_line:first-child:before { content: "Connexion"; display: block; clear: both; margin: 25px 0 20px 0; font-weight: bold; color: #777; font-size: 1.1em; }
#article .connectBloc.right .form_connect { margin-top: 50%; border: 1px solid #DDD; background: #FFF; padding: 0 15px 15px 15px; color: #1BA9C0; box-shadow: 0 0 8px #AAA; }

.tuile { float: left; margin: 7px; background: #FFF; padding: 5px; box-shadow: 0 0 8px #AAA; color: #fff; overflow: hidden; text-overflow: ellipsis; height: 150px; width: 150px; 
-webkit-transform: rotateY(0deg); -webkit-animation: myfirst 1s;
}
.tuile .tuile_title { color: #1BA9C0; font-weight: bold; display: block; margin-bottom: 15px; }
.tuile .tuile_content { color: #333; font-size: 0.8em; }

.tuile:hover { background: #1BA9C0; box-shadow: 0 5px 8px #AAA; position: relative; top: -5px; cursor: pointer; }
.tuile:hover .tuile_title { color: #FFF; }
.tuile:hover .tuile_content { color: #EFEFEF; }

@keyframes myfirst
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
from {-moz-transform: rotateY(90deg);}
to {-moz-transform: rotateY(0deg);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {-webkit-transform: rotateY(90deg);}
to {-webkit-transform: rotateY(0deg);}
}

@-o-keyframes myfirst /* Opera */
{
from {-o-transform: rotateY(90deg);}
to {-o-transform: rotateY(0deg);}
}